*{
	padding: 0;
}
body {
	background: rgba(0,0,0,.8);
	color: white;
}
nav {
	background-color: teal;
	width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    &.sort-nav{
	top: 99px;
	background-color: green;
	}
}
ul{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.sort-nav li,
.top-bar li
{
	cursor: pointer;
	display: inline;
	li{
		cursor: auto;
	}
}
img{
	width: 350px;
	height: 500px;
}
.container h2{
	padding-top: 45%;
  	p{
  		font-size: 20px;
  		position: absolute;
  		transform: translate(-50%, -50%);
  		-ms-transform: translate(-50%, -50%);
  	}
}
.container{
	position: relative;
	text-align: center;
	&:hover .cover-up {
  		opacity: 1;
	}
}
.cover-up{
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .5s ease;
  	background-color: teal;
}
.edit-button{
	background-color: green;
	border: 1px solid white;
	padding: 0.5em 1em 0.5em 1em;
	&:hover{
		background-color: black;
		cursor: pointer;
	}
}
.new-movie{
	display: none;
}
#top-icon{
	height: 1em;
	width: 1em;
}
#popUp{
	display: none;
    position: fixed;
    z-index: 2000;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    img{
    	margin: auto;
    	display: none;
    	height: 90%;
    	width: auto;
    	padding-top: 2em;
    }
}
#new-movie{
	display: none;
	padding-top: 15%;
	padding-left: 45%;
}